@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(//fonts.googleapis.com/css?family=Roboto);

body {
  font-size: 1em;
  margin-left: 150px;
  margin-right: 150px;
}

.nameheader {
  font-family: 'Source Sans Pro';
  text-align: center;
  font-size: 32px;
}

.blurb {
  font-family: 'Roboto';
  margin-top: 20px;
  letter-spacing: 0.02em;
  line-height: 125%;
}

.icons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.iconbox {
  flex: 1 1 0px;

}
